.singleClassImage{
    width: 100%;
    height: 70%;
}
.class-names{
    color: white;
    font-weight: bold;
    text-align: left;
}
.myArticle{
    color: white;
    text-align: justify;
}
.right-title{
    display: flex;
    justify-content: space-between;
    color: white;
}